@tailwind base;
@tailwind components;
@tailwind utilities;


.toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    color: #10171D;
  
    font-size: 20px;
  
    /* Responsive font size for mobile */
    @screen sm {
        font-size: 16px;
    }
}
